/*:::: Site color scheme ::::*/
$black: #272727;
$white: #f7f7f7;

$offwhite: #ECF0F0;
$blue: #2B3D50;
$green: #27AE5F;
$orange: #EF823D;

/*:::: Typography ::::*/
$headline: darken(#5E6869, 5%);
$bodytype: #5E6869;
$slink: #27AE5F;
$vlink: #2B3D50;
$hlink: #EF823D;

/*:::: Gradients ::::*/

