<section class="book-form">
	<h3>Want to learn to build iOS apps with Swift?</h3>
	<p>
		Are you a web developer looking to learn iOS development? Sign up to receive a free chapter from my upcoming book, <strong>"The Web Developer's Guide to Building iOS Apps with Swift"</strong> and get it at a discounted price when it's released. <a href="http://billpatrianakos.me/blog/2014/06/05/2014-06-05-the-web-developers-guide-to-building-ios-apps-with-swift/">Check out the announcement</a> to learn what it's all about.
	</p>
	<!-- Begin MailChimp Signup Form -->
	<div id="mc_embed_signup">
		<form action="http://beasellout.us2.list-manage.com/subscribe/post?u=4ecd98fc7e012af7b8ea1c2d4&amp;id=87ef2682fc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<div class="mc-field-group">
				<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address" />
			</div>
			<div class="mc-field-group">
				<input type="text" value="" name="FULLNAME" class="" id="mce-FULLNAME" placeholder="Your Name" />
			</div>
			<p class="poweredby">
				<small><em>Powered by <a href="http://eepurl.com/WlgmT" title="MailChimp - email marketing made easy and fun">MailChimp</a></em></small>
			</p>
			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			<div style="position: absolute; left: -5000px;"><input type="text" name="b_4ecd98fc7e012af7b8ea1c2d4_87ef2682fc" tabindex="-1" value=""></div>
			 <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
		</form>
	</div>
<!--End mc_embed_signup-->
</section>