<section>
	<h3>Featured Projects</h3>
	<ul class="ads">
		<li><a href="http://moonweather.me"><img src="{{ root_url }}/img/icons/mw_footer.png" alt="MoonWeather moon phase tracker and weather forecasts" /></a></li>
		<li><a href="https://writeapp.me"><img src="{{ root_url }}/img/icons/writeapp_footer.png" alt="Free private online notebooks" /></a></li>
		<li><a href="http://fractionless.info"><img src="{{ root_url }}/img/icons/fractionless_footer.png" alt="Web development boilerplate" /></a></li>
	</ul>
</section>