<header class="container">
	<section class="row">
		<nav class="eight">
			<h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
			<ul>
				<li><a href="{{ root_url }}/">Articles</a></li>
				<li><a href="{{ root_url }}/projects">Projects</a></li>
				<li><a href="{{ root_url }}/blog/categories/highlights">Best of</a></li>
				<li><a href="{{ root_url }}/about">About</a></li>
				<li><a href="{{ root_url }}/blog/archives">Archive</a></li>
				<li><a href="{{ root_url }}/atom.xml"><i class="icon-rss icon-large"></i></a></li>
			</ul>
		</nav>
		{% include navigation.html %}
	</section>
</header>