---
layout: default
---
{% assign index = true %}
<section id="hero" class="container"> <!-- Index page only - the latest post hero banner -->
	{% for post in paginator.posts limit:1 %}
	{% assign content = post.content %}
		<section class="row">
			<article class="six">
				{% if index %}
					{% if post.external_url %}
						<h1 class="entry-title"><a href="{{ post.external_url }}">&infin; {% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
					{% else %}
						<h1 class="entry-title"><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
					{% endif %}
				{% else %}
					<h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
				{% endif %}
				{% unless page.meta == false %}
					<p class="meta">
						{% include post/date.html %}{{ time }}
						{% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
						| <a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread"
						data-disqus-identifier="{% if post.meta.disqus_id %}{{ post.meta.disqus_id }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">Comments</a>
						{% endif %}
					</p>
				{% endunless %}
				{% if index %}
					<div class="entry-content excerpt">{{ content | excerpt }}</div>
					{% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
					{% if excerpted == 'true' %}
					<p class="read-more">
						<a rel="full-article" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
					</p>
					{% endif %}
				{% else %}
					<div class="entry-content">{{ content }}</div>
				{% endif %}
			</article>
			<div class="six last">
				<div class="featured-image">
					{% if post.featured_image %}
					<p class="centered-text">
						<img src="{{ post.featured_image }}" />
					</p>
					{% else %}
					<p class="centered-text">
						<img src="/img/design/default_featured.png" />
					</p>
					{% endif %}
				</div>
			</div>
		</section>
	{% endfor %}
</section>

<!-- Main article list -->
<section id="main-container" class="container">
	<div class="row">
		<article class="eight">
			{% for post in paginator.posts offset:1 %}
	  			{% assign content = post.content %}
	  			{% include article.html %}
	  		{% endfor %}
		</article>
		<!-- Use config files to insert sidebars -->
		<aside id="sidebar" class="four last">
			{% if site.blog_index_asides.size %}
			{% include_array blog_index_asides %}
			{% else %}
			{% include_array default_asides %}
			{% endif %}
		</aside>
	</div>
	<div class="row">
		<div class="four pagination">
			<p>
				{% if paginator.next_page %}
					<a class="prev" href="{{paginator.next_page}}">&laquo; Previous</a>
				{% endif %}
			</p>
		</div>
		<div class="four pagination">
			<p class="centered-text">
				<a href="/blog/archives">Archives</a>
			</p>
		</div>
		<div class="four pagination last right">
			<p>
				{% if paginator.previous_page %}
					<a class="next" href="{{paginator.previous_page}}">Next &raquo;</a>
				{% endif %}
			</p>
		</div>
	</div>
</section>
